html {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    /* margin: 5x; */
    color: rgb(0, 0, 0);
    /* background-color: blue; */
    /* margin: 0%; */
}

.Main-H {
  color: rgb(37, 15, 59);
  height: 40px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.main-domain {
    background-color: rgb(239, 223, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;;
    border: 1px solid rgb(209, 169, 249);
}

.subdomain {
    background-color: rgb(225, 255, 250);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(95, 230, 208);
}


.control {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
}

.subcontrol {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.search-container {
  text-align: center;
  margin: 15px 0 30px 0;
}

p {
    margin: 5px 2px;
}

#siteSearch {
  width: 60%;
  padding: 10px 15px;
  border: 2px solid #a9e5ff;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #f1f4ff;
  color: #000000;
  outline: none;
  transition: 0.3s;
}

#siteSearch:focus {
  border-color: #0ea5e9;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
}

.highlight {
  background-color: #facc15;
  color: #000;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}

#noResultsMsg {
  background-color: #1e293b;
  padding: 12px;
  border-radius: 8px;
}

.control:hover{
    border: #000000 2px solid;
}

.subcontrol:hover {
    border: #000000 2px solid;
}
